extends layout

block content
		form
			div
				label Name:
				input(type="text", name="username")
			div
				label Surname:
				input(type="text", name="surname")
			div
				label Sex:
				input(type="text", name="sex")
			div 
				label Email:
				input(type="text",name="email")
			div 
				label Country :
				input(type="text",name="country")
			div 
				label Job :
				input(type="text",name="job")
			div 
				label Sport :
				input(type="text",name="sport")
			div
				input(type="submit", value="Comfrim")