extends layout

block content
		form(action="/regis",method="post",)
			center
				div
					label Username:
					input(type="text", name="username")
					&nbsp;
					label Password:
					input(type="password", name="password")
				br
				div
					input(type="submit",name="submit" ,value="insert")
					&nbsp;
					input(type="submit",name="submit" ,value="reset")