extends layout

block content
		form
			div
				label Nation:
				input(type="text", name="lblnation")
			div
				label Province:
				input(type="text", name="lblprovince")
			div
				label Age:
				input(type="text", name="lblage")	
			div
				label Occupation:
				input(type="text", name="lbloccupation")	
			div
				label Sport:
				input(type="text", name="lblsport")	
			div
				label Hobbies:
				input(type="text", name="lblhobbies")				
			div
				input(type="submit", value="Enter")
