extends layout

block content
	h1 Spec LOVER


		form(action='/spec/insert', method='post')
			div
				label Nation:
				input(type="text", name="lblnation")
			div
				label Province:
				input(type="text", name="lblprovince")
			div
				label Age:
				input(type="text", name="lblage")				
			div
				label Occupation:
				input(type="text", name="lbloccupation")
			div
				input(type="submit", value="Enter")			


